# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions
azure-functions-durable
azure-cosmos
#azure.identity
#azure.storage.queue

# core dependencies
elasticsearch
langchain
langchain-community
firecrawl-py
PyPDF2

# Vertex AI dependencies
google-cloud-aiplatform
grpcio-status

# OpenAI dependencies
openai

# BedRock dependencies
boto3
tiktoken>=0.5.2,<0.6

#jinja2
python-dotenv

requests
wget

ollama
groq

#crewai_tools
numpy

# crypto
pyjwt[crypto]

#test
pytest